<span>Page id:</span><input [(ngModel)]="pageId" />
<span>Panel id:</span><input [(ngModel)]="panelId" />
<nav>
  <ul>
    <li><a routerLink="/pageView/page_1" routerLinkActive="active">Page view 1</a></li>
    <li><a routerLink="/panelView/panel_1" routerLinkActive="active">Panel view 1</a></li>
    <li><a routerLink="/pageView/page_2" routerLinkActive="active">Page view 2</a></li>
    <li><a routerLink="/panelView/panel_2" routerLinkActive="active">Panel view 2</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<button (click)="onSave()">Save</button>